{% extends "base.html" %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pesquisar NCPS</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Pesquisa de NCPS</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.id.label }}
                                {{ form.id(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary col-md-3") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <p></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
