{% extends "base.html" %}

{% block head %}
    <meta http-equiv="refresh" content="60">
{% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Previsão de Chegada na Central</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Previsão de Chegada</h3>
            </div>
            <div class="card-body">
                <form method="post" class="form-inline">
                    {{ previsao_form.hidden_tag() }}
                    <div class="form-group mr-3">
                        {{ previsao_form.viatura.label }}
                        {{ previsao_form.viatura(class="form-control ml-2") }}
                    </div>
                    <div class="form-group mr-3">
                        {{ previsao_form.hora_chegada.label }}
                        {{ previsao_form.hora_chegada(class="form-control ml-2", type="datetime-local") }}
                    </div>
                    <div class="form-group">
                        <input type="submit" name="previsao_submit" value="Enviar Previsão" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Tabela de Previsões</h3>
            </div>
            <div class="card-body">
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Viatura</th>
                                <th>Horário Previsto de Chegada</th>
                                <th>Serviço Previsto</th>
                                <th>Cancelar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for previsao in previsoes %}
                            <tr>
                                <td>{{ previsao.viatura.vtr }}</td>
                                <td>{{ previsao.hora_chegada.strftime('%d/%m/%y - %H:%M:%S') }}</td>
                                <td>
                                    <button class="btn-toggle-prev btn {{ 'btn-secondary' if previsao.farmacia == 0 else 'btn-danger' }}" data-record-id="{{ previsao.id }}" data-checkpoint-name="farmacia">💊</button>
                                    <button class="btn-toggle-prev btn {{ 'btn-secondary' if previsao.limpeza == 0 else 'btn-danger' }}" data-record-id="{{ previsao.id }}" data-checkpoint-name="limpeza">🧹</button>
                                    <button class="btn-toggle-prev btn {{ 'btn-secondary' if previsao.cme == 0 else 'btn-danger' }}" data-record-id="{{ previsao.id }}" data-checkpoint-name="cme">🏥</button>
                                    <button class="btn-toggle-prev btn {{ 'btn-secondary' if previsao.frota == 0 else 'btn-danger' }}" data-record-id="{{ previsao.id }}" data-checkpoint-name="frota">🚗</button>
                                    <button class="btn-toggle-prev btn {{ 'btn-secondary' if previsao.administrativo == 0 else 'btn-danger' }}" data-record-id="{{ previsao.id }}" data-checkpoint-name="administrativo">📂</button>
                                </td>
                                <td>
                                    <form method="post" action="{{ url_for('patio.register_cancel', control_id=previsao.id) }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Registrar Cancelamento</button>
                                    </form>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="4">Nenhuma previsão de chegada de ambulância!</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Unidades no Pátio da Central</h3>
            </div>
            <div class="card-body">
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Viatura</th>
                                <th>Entrada</th>
                                <th>Tempo Estacionado</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in parked_viaturas %}
                            <tr>
                                <td>{{ record.viatura.vtr }}</td>
                                <td>{{ record.hora_entrada.strftime('%d/%m/%y - %H:%M:%S') }}</td>
                                <td>{{ ((current_time - record.hora_entrada).seconds // 60) }} minutos</td>
                                <td>
                                    <button class="btn-toggle btn {{ 'btn-secondary' if record.farmacia == 0 else 'btn-danger' if record.farmacia == 1 else 'btn-success' }}" data-record-id="{{ record.id }}" data-checkpoint-name="farmacia">💊</button>
                                    <button class="btn-toggle btn {{ 'btn-secondary' if record.limpeza == 0 else 'btn-danger' if record.limpeza == 1 else 'btn-success' }}" data-record-id="{{ record.id }}" data-checkpoint-name="limpeza">🧹</button>
                                    <button class="btn-toggle btn {{ 'btn-secondary' if record.cme == 0 else 'btn-danger' if record.cme == 1 else 'btn-success' }}" data-record-id="{{ record.id }}" data-checkpoint-name="cme">🏥</button>
                                    <button class="btn-toggle btn {{ 'btn-secondary' if record.frota == 0 else 'btn-danger' if record.frota == 1 else 'btn-success' }}" data-record-id="{{ record.id }}" data-checkpoint-name="frota">🚗</button>
                                    <button class="btn-toggle btn {{ 'btn-secondary' if record.administrativo == 0 else 'btn-danger' if record.administrativo == 1 else 'btn-success' }}" data-record-id="{{ record.id }}" data-checkpoint-name="administrativo">📂</button>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="4">Nenhuma ambulância no pátio!</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Alertas das Viaturas</h3>
                <div class="card-tools">
                    <a href="{{ url_for('patio.alerta_viatura') }}" class="btn btn-success">Criar Alerta</a>
                </div>
            </div>
            <div class="card-body">
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Viatura</th>
                                <th>Descrição</th>
                                <th>Prioridade</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alerta in alertas %}
                            <tr>
                                <td>{{ alerta.viatura.vtr }}</td>
                                <td>{{ alerta.descricao }}</td>
                                <td>{{ alerta.prioridade }}</td>
                                <td>
                                    <form method="post" action="{{ url_for('patio.concluir_alerta', alerta_id=alerta.id) }}" style="display:inline;">
                                        <button type="submit" class="btn btn-success btn-sm">Concluir</button>
                                    </form>
                                    <form method="post" action="{{ url_for('patio.cancelar_alerta', alerta_id=alerta.id) }}" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                                    </form>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">Nenhum alerta de viatura registrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $(".btn-toggle").click(function(event){
        event.preventDefault();

        const button = $(this);
        const recordId = button.data('record-id');
        const checkpointName = button.data('checkpoint-name');

        fetch("/patio/toggle-checkpoint", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                record_id: recordId,
                checkpoint_name: checkpointName
            })
        })
        .then(response => response.json())
        .then(data => {
            if(data.status === "success") {
                const newValue = data.new_value;
                if(newValue === 0) {
                    button.removeClass('btn-danger btn-success').addClass('btn-secondary');
                } else if(newValue === 1) {
                    button.removeClass('btn-secondary btn-success').addClass('btn-danger');
                } else {
                    button.removeClass('btn-secondary btn-danger').addClass('btn-success');
                }
            } else {
                alert("Erro ao alternar o checkpoint!");
            }
        })
        .catch(error => {
            console.error("Erro na requisição:", error);
            alert("Erro na requisição!");
        });
    });

    $(".btn-toggle-prev").click(function(event){
        event.preventDefault();

        const button = $(this);
        const recordId = button.data('record-id');
        const checkpointName = button.data('checkpoint-name');

        fetch("/patio/toggle-previsao", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                record_id: recordId,
                checkpoint_name: checkpointName
            })
        })
        .then(response => response.json())
        .then(data => {
            if(data.status === "success") {
                const newValue = data.new_value;
                if(newValue === 0) {
                    button.removeClass('btn-danger').addClass('btn-secondary');
                } else {
                    button.removeClass('btn-secondary').addClass('btn-danger');
                }
            } else {
                alert("Erro ao alternar o checkpoint!");
            }
        })
        .catch(error => {
            console.error("Erro na requisição:", error);
            alert("Erro na requisição!");
        });
    });
});
</script>
{% endblock %}
